# Void build outputs
.void
.wrangler
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# TypeScript
*.tsbuildinfo

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# AI
.claude
